<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-12" *ngFor="let e of education">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>{{e.from_to_year}}</p>
                            <div class="h5">{{e.education}}</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">{{e.stream}}</div>
                            <h5 class="category">{{e.institution}}</h5>
                            <!-- <ul>
                                <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
                                <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                                <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
                            </ul> -->
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>